.contact {
  background-color: #395a5e;
  padding: 3em;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;

    &__title {
      margin: 0;
      font-size: 2.5rem;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 2.5em;
      max-width: 470px;
    }
  }
}

/*.contact__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.contact__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;

  &__icon {
    min-width: 60px;
    height: 60px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 30px;
    color: #fff;

    & h3 {
      margin: 0;
      font-size: 20px;
      color: #7bf7d4;
    }
    & p {
      margin: 0;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
}

.contact__content__form {
  width: 40%;
  padding: 40px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: 0.15);

  h2 {
    font-size: clamp(20px, calc(1vw + 1rem), 30px);
    margin-top: 0;
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

    input,
    textarea {
      width: 100%;
      padding: 5px 0;
      margin: 12px 0;
      border: none;
      border-bottom: 2px solid #ddd;
      outline: none;
      resize: vertical;

      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }

    span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }

    input:focus ~ span,
    input:valid ~ span,
    textarea:focus ~ span,
    textarea:valid ~ span {
      color: #30739c;
      font-size: 13px;
      letter-spacing: 0.5px;
      transform: translateY(-20px);
    }

    input[type="submit"] {
      width: 100px;
      background-color: #7bf7d4;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      padding: 10px;
      font-size: 18px;
    }
  }
}

@media (max-width: 1070px) {
  .contact__content__form {
    padding: 50px 20px;
  }
}

@media (max-width: 800px) {
  .contact__content {
    flex-direction: column;
  }
  .contact__content__form {
    width: 80%;
  }

  .contact__content__info {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .contact {
    padding: 3em 0;
  }
  .contact__content__form {
    padding: 25px 15px;
    width: 100%;
  }
  .contact__content__info {
    width: 85%;
  }
  .box__icon {
    min-width: 50px;
    height: 50px;
  }
}
