.product {
  background-color: #395a5e;
}

// FELLES ATTRIBUTTER

.two-col {
  padding: 2em;
  background-color: #dfe4dc;
  border-radius: 15px;
  display: flex;
}

.product__title {
  text-align: center;
  font-size: clamp(1rem, calc(2.5vw + 0.5rem), 2.5rem);
  color: #2f3e46;
}

.product__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// KOLLONNE FYSISK PRODUKT

// Flex-container
.product__imgs--physical {
  align-content: center;
  margin: 0.5em;
  gap: 0.5em;
}

// Flex-item
.product__img--physical {
  width: 40%;
  border-radius: 5px;
  border: 1.5px solid #354f52;
  align-self: flex-start;
}
// KOLLONNE DIGITALT PRODUKT

// Flex-container
.product__imgs--digital {
  flex-direction: row;
  align-items: center;
}

// Flex-item (download)
.product__img--stores {
  width: 25%;
  align-self: flex-end;
  margin-bottom: 35px;
}

// Flex-item (iPhone)
.product__img--app {
  rotate: 7deg;
  width: 50%;
  margin-right: -20px;
}

@media (max-width: 800px) {
  .two-col {
    flex-direction: column;
  }
  .product__title--digital {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .product__img--app {
    margin-right: 5px;
  }
}
