.team {
  background-color: #457b9d;
}

.team__title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.75em;
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 250ms ease-in-out;
}

.team__member:hover,
.team__member:focus {
  transform: scale(1.1);
}

.team__img {
  width: 75%;
  border: 2px solid #73e7c6;
  border-radius: 50%;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.team__name {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.team__field {
  letter-spacing: 0.5px;
  margin-top: 4px;
  font-size: 12px;
  color: #73e7c6;
}

@media (max-width: 800px) {
  .team {
    padding: 1em 0;
  }
  .team__title {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  .team__field {
    margin-bottom: 25px;
  }
  .team__img {
    width: 50%;
  }
}

@media (max-width: 1230px) {
  .split {
    gap: 0.75em;
  }
}

.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 20%;
    min-width: 12.3em;
  }
}
