*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #1d3557;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #1d3557;
  color: #fff;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
  top: 1.23em;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  cursor: pointer;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  letter-spacing: 0.75px;
}

.nav__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.75em 0;
  margin-bottom: 1em;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
  color: #7af1d0;
}

.logo {
  height: 60px;
  width: 65px;
}

.fa {
  padding: 0 10px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

/*.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-instagram {
  color: #8a3ab9;
}

.fa-youtube {
  color: #ff0000;
}*/
@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5em;
  }
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    height: 70px;
    width: 75px;
  }
  .fa {
    font-size: 26px;
    padding: 0 3px;
  }
}

.team {
  background-color: #457b9d;
  padding: 7em 0;
}

.team__title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.75em;
}

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.team__member:hover,
.team__member:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team__img {
  width: 75%;
  border: 2px solid #73e7c6;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.team__name {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.team__field {
  letter-spacing: 0.5px;
  margin-top: 4px;
  font-size: 12px;
  color: #73e7c6;
}

@media (max-width: 800px) {
  .team {
    padding: 1em 0;
  }
  .team__title {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  .team__field {
    margin-bottom: 25px;
  }
  .team__img {
    width: 50%;
  }
}

@media (max-width: 1230px) {
  .split {
    gap: 0.75em;
  }
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  min-width: 12.3em;
}

.product {
  background-color: #457b9d;
}

.two-col {
  padding: 2em;
  background-color: #f1f1f1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__title {
  text-align: center;
  font-size: clamp(1rem, calc(2.5vw + 0.5rem), 2.5rem);
  color: #1d3557;
}

.product__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__imgs--physical {
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0.5em;
}

.product__img--physical {
  width: 40%;
  border-radius: 5px;
  border: 1.5px solid #73e7c6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__imgs--digital {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__img--stores {
  width: 25%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 35px;
}

.product__img--app {
  rotate: 7deg;
  width: 50%;
  margin-right: -20px;
}

@media (max-width: 800px) {
  .two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__title--digital {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .product__img--app {
    margin-right: 5px;
  }
}

.contact {
  background-color: #457b9d;
  padding: 3em;
}

.contact__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.contact__message__title {
  margin: 0;
  font-size: 2.5rem;
}

.contact__message__text {
  font-size: 18px;
  margin-bottom: 2.5em;
  max-width: 470px;
}

/*.contact__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
.contact__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__icon {
  min-width: 60px;
  height: 60px;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  margin-left: 30px;
  color: #fff;
}

.box__text h3 {
  margin: 0;
  font-size: 20px;
  color: #7bf7d4;
}

.box__text p {
  margin: 0;
  margin-bottom: 30px;
  text-decoration: none;
}

.contact__content__form {
  width: 40%;
  padding: 40px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.contact__content__form h2 {
  font-size: clamp(20px, calc(1vw + 1rem), 30px);
  margin-top: 0;
}

.contact__content__form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact__content__form .inputBox input,
.contact__content__form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  margin: 12px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  resize: vertical;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.contact__content__form .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
}

.contact__content__form .inputBox input:focus ~ span,
.contact__content__form .inputBox input:valid ~ span,
.contact__content__form .inputBox textarea:focus ~ span,
.contact__content__form .inputBox textarea:valid ~ span {
  color: #30739c;
  font-size: 13px;
  letter-spacing: 0.5px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact__content__form .inputBox input[type="submit"] {
  width: 100px;
  background-color: #7bf7d4;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 1070px) {
  .contact__content__form {
    padding: 50px 20px;
  }
}

@media (max-width: 800px) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__content__form {
    width: 80%;
  }
  .contact__content__info {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .contact {
    padding: 3em 0;
  }
  .contact__content__form {
    padding: 25px 15px;
    width: 100%;
  }
  .contact__content__info {
    width: 85%;
  }
  .box__icon {
    min-width: 50px;
    height: 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Raleway", serif;
  font-size: 2.1rem;
  font-weight: 700;
}

.container {
  width: 80%;
  max-width: 990px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 5em 0;
}

.hero {
  background-color: #457b9d;
  color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--team {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col {
  width: 100%;
}

.col--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 470px;
}

.col--img {
  width: 50%;
}

.hero__title {
  text-align: center;
}

@media (min-width: 800px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .hero__img {
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */