*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "./CSS/nav";
@import "./CSS/team";
@import "./CSS/products";
@import "./CSS/contact";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #395a5e;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Raleway", serif;
  font-size: 2.1rem;
  font-weight: 700;
}

.container {
  width: 80%;
  max-width: 990px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 5em 0;
}

.hero {
  background-color: #395a5e;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row--team {
  align-items: flex-start;
}

.col {
  width: 100%;

  &--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
  }
  &--img {
    width: 50%;
  }
}

.hero__title {
  text-align: center;
}

@media (min-width: 800px) {
  .row {
    flex-direction: row;
  }

  .col--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col--img {
    display: flex;
    align-self: center;
  }
  .hero__img {
    align-self: center;
    width: 75%;
  }
}
